In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Loading dataset
(https://www.kaggle.com/datasets/johndasilva/diabetes)

In [ ]:
dataset = pd.read_csv('heart.csv')

In [ ]:
dataset.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

Exploratory Data Analysis

In [ ]:
dataset.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [ ]:
dataset.shape

(918, 12)

In [ ]:
dataset.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [ ]:
dataset.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [ ]:
d=dict(dataset.dtypes)
print(d)

{'Age': dtype('int64'), 'Sex': dtype('O'), 'ChestPainType': dtype('O'), 'RestingBP': dtype('int64'), 'Cholesterol': dtype('int64'), 'FastingBS': dtype('int64'), 'RestingECG': dtype('O'), 'MaxHR': dtype('int64'), 'ExerciseAngina': dtype('O'), 'Oldpeak': dtype('float64'), 'ST_Slope': dtype('O'), 'HeartDisease': dtype('int64')}

In [ ]:
cols=[]
for i in d:
  if d[i]=="object":
    cols.append(i)
print(cols)

['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

In [ ]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in cols:
  dataset[i]=label_encoder.fit_transform(dataset[i])

In [ ]:
dataset.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int64
 2   ChestPainType   918 non-null    int64
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int64
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int64
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int64
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 86.2 KB

Spliting the data into x & y

In [ ]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
print(X_test)

[[ 0.20230716  0.51017053 -0.77912558 ... -0.78360391 -0.66533939
  -0.60665455]
 [ 1.32722389  0.51017053 -0.77912558 ... -0.78360391 -0.40168731
  -0.60665455]
 [-0.20675347  0.51017053 -0.77912558 ... -0.78360391 -0.75322342
  -0.60665455]
 ...
 [-0.10448831  0.51017053 -0.77912558 ... -0.78360391 -0.75322342
   1.0846248 ]
 [-1.63846567  0.51017053  0.24486804 ... -0.78360391 -0.75322342
   1.0846248 ]
 [-0.00222316  0.51017053  1.26886166 ...  1.27615494 -0.75322342
  -0.60665455]]

Training Dataset

In [ ]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()
logistic.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
#Support Vector Machine(SVM)
from sklearn.svm import SVC
svm = SVC()
svm.fit(X_train,Y_train)

SVC()

In [ ]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
decisiontree = DecisionTreeClassifier()
decisiontree.fit(X_train,Y_train)

DecisionTreeClassifier()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
kneighbors = KNeighborsClassifier()
kneighbors.fit(X_train,Y_train)

KNeighborsClassifier()

In [ ]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
randomforest = RandomForestClassifier()
randomforest.fit(X_train,Y_train)

RandomForestClassifier()

In [ ]:
#Naive-Bayes
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(X_train,Y_train)

GaussianNB()

In [ ]:
lr_pred = logistic.predict(X_test)
knn_pred = kneighbors.predict(X_test)
svm_pred = svm.predict(X_test)
dt_pred = decisiontree.predict(X_test)
rf_pred = randomforest.predict(X_test)
nb_pred = nb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy Score of Logistic Regression: ",accuracy_score(Y_test,lr_pred)*100)
print("Accuracy Score of KNN: ",accuracy_score(Y_test,knn_pred)*100)
print("Accuracy Score of Naive Bayes: ",accuracy_score(Y_test,nb_pred)*100)
print("Accuracy Score of SVM: ",accuracy_score(Y_test,svm_pred)*100)
print("Accuracy Score of Decision Tree: ",accuracy_score(Y_test,dt_pred)*100)
print("Accuracy Score of Random Forest: ",accuracy_score(Y_test,rf_pred)*100)

Accuracy Score of Logistic Regression:  83.69565217391305
Accuracy Score of KNN:  85.32608695652173
Accuracy Score of Naive Bayes:  84.78260869565217
Accuracy Score of SVM:  86.41304347826086
Accuracy Score of Decision Tree:  75.54347826086956
Accuracy Score of Random Forest:  85.86956521739131

Saving the best model(SVM)

In [ ]:
import pickle
filename='mdps_heart_model.sav'
pickle.dump(svm,open(filename,'wb'))