In [ ]:
import numpy as np
import pandas as pd

Loading dataset
(https://www.kaggle.com/datasets/johndasilva/diabetes)

In [ ]:
df = pd.read_csv("diabetes.csv")

Exploratory Data Analysis

In [ ]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
5,0,173,78,32,265,46.5,1.159,58,0
6,4,99,72,17,0,25.6,0.294,28,0
7,8,194,80,0,0,26.1,0.551,67,0
8,2,83,65,28,66,36.8,0.629,24,0
9,2,89,90,30,0,33.5,0.292,42,0

In [ ]:
df.shape

(2000, 9)

In [ ]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [ ]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [ ]:
df['Outcome'].value_counts()
#0-> Non-Diabetic
#1-> Diabetic

0    1316
1     684
Name: Outcome, dtype: int64

Spliting the data into x & y

In [ ]:
#target feature
y=df["Outcome"]
#input feature
x=df.drop("Outcome",axis=1)

In [ ]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,138,62,35,0,33.6,0.127,47
1,0,84,82,31,125,38.2,0.233,23
2,0,145,0,0,0,44.2,0.630,31
3,0,135,68,42,250,42.3,0.365,24
4,1,139,62,41,480,40.7,0.536,21

In [ ]:
y.head()

0    1
1    0
2    1
3    1
4    0
Name: Outcome, dtype: int64

Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size = 0.2, random_state=7)
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((1600, 8), (400, 8), (1600,), (400,))

Building Classification algorithms

In [ ]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(solver='liblinear',multi_class='ovr')
lr.fit(X_train,Y_train)

LogisticRegression(multi_class='ovr', solver='liblinear')

In [ ]:
#KNearestNeighbors(KNN)
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(X_train,Y_train)

KNeighborsClassifier()

In [ ]:
#Naive-Bayes
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(X_train,Y_train)

GaussianNB()

In [ ]:
#Support Vector Machine(SVM)
from sklearn.svm import SVC 
sv=SVC(kernel='linear')
sv.fit(X_train,Y_train)

SVC(kernel='linear')

In [ ]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(X_train,Y_train)

DecisionTreeClassifier()

In [ ]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(criterion='entropy')
rf.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy')

Prediction

In [ ]:
lr_pred=lr.predict(X_test)
knn_pred=knn.predict(X_test)
nb_pred=nb.predict(X_test)
sv_pred=sv.predict(X_test)
dt_pred=dt.predict(X_test)
rf_pred=rf.predict(X_test)

Evaluation

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy Score of Logistic Regression: ",accuracy_score(Y_test,lr_pred)*100)
print("Accuracy Score of KNN: ",accuracy_score(Y_test,knn_pred)*100)
print("Accuracy Score of Naive Bayes: ",accuracy_score(Y_test,nb_pred)*100)
print("Accuracy Score of SVM: ",accuracy_score(Y_test,sv_pred)*100)
print("Accuracy Score of Decision Tree: ",accuracy_score(Y_test,dt_pred)*100)
print("Accuracy Score of Random Forest: ",accuracy_score(Y_test,rf_pred)*100)

Accuracy Score of Logistic Regression:  77.5
Accuracy Score of KNN:  80.75
Accuracy Score of Naive Bayes:  79.5
Accuracy Score of SVM:  76.75
Accuracy Score of Decision Tree:  98.75
Accuracy Score of Random Forest:  99.5

Saving the best model(SVM)

In [ ]:
import pickle
filename='mdps_diabetes_model.sav'
pickle.dump(rf,open(filename,'wb'))